/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"); */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Poppins, sans-serif; */

}


:root {
  --primary: #605DFF;
  --primary-dark: #4a00e0;
  --primary-light: #5DA8FF;
  --secondary: #1D1D1D;
  --social-background: #E2E4F1;
  --social-background-hover: #ebecf1;
  --text: #5f6697;
  --white: #FFFFFF;
  --violet: #1d2041;
  --red: #62ce6b;
  --green: #ffe713;
  --color-primary: #8f44fd;
  --tab-width: 100%;
  --button-width: 120px;
  --pro-width: 70px;
}

.App {
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: var(--social-background);
}

.fond{
  background-image: url('./images/back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.anime{
  animation: mouve 3s ease-in-out infinite;
  transition: all 3s;
}

@keyframes mouve {
  0%, 100%{
    transform: translateY(10%);
    /* opacity: 1; */
  }
  25%{
    transform: translateX(-10%);
    opacity: 0.1;
  }
 
  50%{
      transform: translateY(-5%);
      /* opacity: 1; */
  }
  75%{
    transform: translateY(5%);
    /* opacity: 0.9; */
  }
}

.gradient{
  background-color: rgba(0, 0, 0, 0.2);
}



/* deb login */


.login {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  height: 100vh;
  padding: 1rem;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--social-background);
  background: -webkit-linear-gradient(to right, var(--social-background),
          var(--social-background));
  background: linear-gradient(to right, var(--social-background),
          var(--social-background));
}

.socials-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.socials-row img {
  width: 1.5rem;
  height: 1.5rem;
}

.socials-row>a {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  min-height: 3rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--text);
  padding: 0.5rem;
  background-color: var(--social-background);
  font-weight: 700;
}

.socials-row>a:hover {
  background-color: var(--social-background-hover);
}

.login-welcome-row {
  margin-bottom: 1rem;
  font-size: 28px;
  font-weight: bold;
  text-align: start;
  color: var(--primary);
}

.welcome-message {
  max-width: 24rem;
}

.logo {
  height: 3rem;
  margin: 0 auto;
}

.my-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  gap: 1rem;
  background-color: var(--white);
  width: 100%;
  max-width: 25rem;
  padding: 3rem 2rem;
  border-radius: 1rem;
  height: fit-content;
}

.my-form__button {
  background-color: var(--primary);
  color: white;
  white-space: nowrap;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  line-height: 3.125rem;
  outline: none;
  font-size: 1.125rem;
  letter-spacing: .025rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  min-height: 3.125rem;
  width: 100%;
  border-radius: 0.5rem;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.my-form__button:hover {
  background-color: var(--primary-dark);
}

/*? input wrapper */
.input__wrapper {
  position: relative;
  padding: 0.9375rem 0 0;
  margin-bottom: 0.5rem;
}

.input__field {
  font-size: 1.5rem;
  color: var(--text);
  padding: 0.375rem 0;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  line-height: 2rem;
  height: 2rem;
  outline: 0;
  border: 0;
  width: 100%;
  vertical-align: middle;
  padding-bottom: 0.7rem;
  border-bottom: 3px solid var(--secondary);
  background: transparent;
  transition: border-color 0.2s;
}

.input__field::placeholder {
  color: transparent;
}


.input__label {
  user-select: none;
}

.input__field:placeholder-shown~.input__label {
  cursor: text;
  color: var(--text);
  top: 0.8rem;
  font-size: 1.2rem;
}

.input__label,
.input__field:focus~.input__label {
  position: absolute;
  top: -0.8rem;
  display: block;
  font-size: 1.2rem;
  color: var(--text);
  transition: 0.3s;
}

.input__field:focus~.input__label {
  color: var(--primary);
}

.input__field:focus {
  border-bottom: 3px solid var(--primary);
}

.input__field:focus~svg {
  stroke: var(--primary);
}

.input__icon {
  position: absolute;
  right: -0.875rem;
  bottom: -0.6875rem;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.125rem;
  transform: translate(-50%, -50%);
  transform-origin: center;
  cursor: pointer;
}

.input__icon:hover {
  border-radius: 50%;
}

/* my form actions */

.my-form__actions {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: var(--secondary);
  gap: 1rem;
  margin-top: 0.5rem;
}

.my-form__actions a {
  color: var(--secondary);
  font-weight: 600;
  text-decoration: none;
}

.my-form__actions a:hover {
  text-decoration: underline;
}

.my-form__row {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

/* fin login */

/* Dashboard */

.dash{
  height: 100vh;
  background-color: var(--social-background);
  position: relative;
}


button,
a {
  all: unset;
  font: inherit;
  cursor: pointer;
}

.nav {
  position: fixed;
  width: 15rem;
  height: 100vh;
  background-color: var(--white);
  padding: 1rem 0.75rem;
  display: flex;
  flex-direction: column;
  transition: width 500ms ease;
  z-index: 50;
}

.logo{
  font-size: 22px;
  font-weight: bold;
  color: var(--primary);
  padding-top: 7px;
}

.sidebar-header,
.sidebar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sidebar-header {
  margin-bottom: 0.5rem;
}

.logo-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.logo-wrapper > img {
  width: 3.3rem;
  height: 2.8rem;
}

.sidebar-links {
  flex-direction: column;
  margin-bottom: auto;
  gap: 0.6rem;
  padding-top: 1.5rem;
}
.nav > .sidebar-links {
  border-top: 1px solid rgb(211, 211, 211);
}


.dash .sidebar-links,
.dash .sidebar-header,
.dash .user-profile {
  justify-content: start;
  align-items: stretch;
}

.link {
  display: flex;
  padding: 0.6rem;
  border-radius: 0.5rem;
  gap: 1.5rem;
}
.hidd {
  display: inline;

}


.link:hover,
.link.active:hover {
  background-color: var(--social-background-hover);
}
.link.active {
  background-color: var(--social-background);
}

.link > img {
  width: 24px;
  height: 24px;
}



.toggle-btn {
  position: absolute;
  top: 10px;
  right: -50px;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.25s ease;
}
.dash.active .toggle-btn {
  transform: rotate(180deg);
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
  border-top: 1px solid rgb(211, 211, 211);
}

.user-avatar {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: scale 0.2s ease;
}
.user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.user-avatar:hover {
  scale: 1.1;
}

.user-details {
  align-self: center;
  overflow: hidden;
}
.user-details .username {
  font-size: 0.85rem;
  font-weight: 600;
}



.content{
  position: absolute;
  width: calc(100% - 15rem);
  left: 15rem;
  display: flex;
  flex-direction: column;
}


.head{
  width: calc(100% - 15rem);
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  height: 70px;
  background-color: var(--white);
  z-index: 10;
}

.farm-name{
  color: var(--text);
  font-weight: 600;
}


/* test */
.wrapper {
  height: 100%;
}

.test {
  width: 100%;
  display: grid;
  place-items: center;
  margin: 0;
  line-height: 1.5;
}

.test .sidebar {
  position: fixed;
  top: 77px;
  left: 15rem;
  height: 100%;
  width: var(--tab-width);
}

.test input {
  display: none;
}

.test h2 {
  margin: 0 0 10px;
}

.test .contents {
  position: relative;
  overflow: hidden;
  height: 140px;
  overflow-x: hidden; 
}


.test .content-inner {
  position: absolute;
  top: 64px;
  left: 0;
  display: flex;
  align-items: center;
  width: calc(var(--tab-width) * 4);
  transition: 0.3s;
}



.test .content-inner > div {
  width: calc(25% - 15rem);
}

.test label {
  text-align: center;
  padding: 2px 0;
  opacity: 0.7;
  cursor: pointer;
}

.test p {
  margin: 0;
}

.test .buttons {
  position: relative;
  display: flex;
 
}

.test .underline {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: var(--button-width);
  height: 3px;
  background: var(--primary);
  transition: 0.2s;
}

.test .tabs input:nth-child(1):checked ~ .buttons .underline {
  translate: 0 0;
  width: 125px;
}

.test .tabs input:nth-child(2):checked ~ .buttons .underline {
  translate: calc(var(--button-width) + 28px) 0;
}

.test .tabs input:nth-child(3):checked ~ .buttons .underline {
  translate: calc((var(--button-width) * 2 ) + 50px ) 0;
  width: 60px;
}

.test .tabs input:nth-child(4):checked ~ .buttons .underline {
  translate: calc((var(--button-width) * 3) + 5px ) 0;
  width: 60px;
}

.test .tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
.test .tabs input:nth-child(2):checked ~ .buttons label:nth-child(2),
.test .tabs input:nth-child(3):checked ~ .buttons label:nth-child(3),
.test .tabs input:nth-child(4):checked ~ .buttons label:nth-child(4) {
  opacity: 1;
}



.test .tabs input:nth-child(1):checked ~ .contents .content-inner {
  transform: translateX(0);
}

.test .tabs input:nth-child(2):checked ~ .contents .content-inner {
  transform: translateX(calc( -25% + 15rem) );
}

.test .tabs input:nth-child(3):checked ~ .contents .content-inner {
  transform: translateX(calc( -50% + 30rem));
}

.test .tabs input:nth-child(4):checked ~ .contents .content-inner {
  transform: translateX(calc( -75% + 45rem ));
}

/* Prod */


.prod {
  width: 100%;
  display: grid;
  place-items: center;
  margin: 0;
  line-height: 1.5;
}

.prod .sidebar {
  position: fixed;
  top: 77px;
  left: 15rem;
  height: 100%;
  width: var(--tab-width);
}

.prod input {
  display: none;
}

.prod h2 {
  margin: 0 0 10px;
}

.prod .contents {
  position: relative;
  overflow: hidden;
  height: 140px;
  overflow-x: hidden; 
}


.prod .content-inner {
  position: absolute;
  top: 64px;
  left: 0;
  display: flex;
  align-items: center;
  width: calc(var(--tab-width) * 2);
  transition: 0.3s;
}

.prod .content-inner > div {
  width: calc(50% - 15rem);
}

.prod label {
  text-align: center;
  padding: 2px 0;
  opacity: 0.7;
  cursor: pointer;
}

.prod p {
  margin: 0;
}

.prod .buttons {
  position: relative;
  display: flex;
}

.prod .underline {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: var(--pro-width);
  height: 3px;
  background: var(--primary);
  transition: 0.2s;
}

.prod .tabs input:nth-child(1):checked ~ .buttons .underline {
  translate: 0 0;
}

.prod .tabs input:nth-child(2):checked ~ .buttons .underline {
  translate: calc(var(--pro-width) + 20px ) 0;
  width: 60px;
}



.prod .tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
.prod .tabs input:nth-child(2):checked ~ .buttons label:nth-child(2){
  opacity: 1;
}



.prod .tabs input:nth-child(1):checked ~ .contents .content-inner {
  transform: translateX(0);
}

.prod .tabs input:nth-child(2):checked ~ .contents .content-inner {
  transform: translateX(calc( -50% + 15rem ));
}







/* Fin Dashboard */




